Repository age-series/ElectricalAge2, changes with the labels that .github/labeler.yml gives for each.
All labels: target:core, target:shared, target:minecraft, target:vintagestory, type:documentation, type:code, type:build

.github/labeler.yml:

target:core:
    - core/**/*
    - ./*

target:shared:
    - shared/**/*

target:minecraft:
    - integration-mc*/**/*

target:vintagestory:
    - integration-vs/**/*

type:documentation:
    - '*.md'

type:code:
    - '*.kt'
    - '*.java'

type:build:
    - '*.kts'
    - '*gradle*'
    - .github/**/*

Less broke but still broke. Made mod to UMC
  build.gradle.kts
  integration-mc1-14/src/main/kotlin/org/eln2/mc114/Eln2.kt
  integration-mc1-14/src/main/kotlin/org/eln2/mc114/Eln2Block.kt
  integration-mc1-14/src/main/kotlin/org/eln2/mc114/Eln2Items.kt
  integration-mc1-14/src/main/kotlin/org/eln2/mc114/singleBlock/Flubber.kt
  umc1-14/src/main/java/cam72cam/mod/text/CustomTranslations.java
Labels: target:core, target:minecraft, type:build

Add materials and current cables
  core/src/main/kotlin/org/eln2/sim/electrical/CurrentCables.kt
  core/src/main/kotlin/org/eln2/sim/materials/Material.kt
Labels: target:core

Reverted package name change
  build.gradle.kts
  integration-mc1-14/src/main/kotlin/net/electricalage/eln2/Eln2.kt
  integration-mc1-14/src/main/kotlin/net/electricalage/eln2/Eln2Block.kt
  integration-mc1-14/src/main/kotlin/net/electricalage/eln2/Eln2CreativeTabs.kt
  integration-mc1-14/src/main/kotlin/net/electricalage/eln2/Eln2Items.kt
  integration-mc1-14/src/main/kotlin/net/electricalage/eln2/singleBlock/Flubber.kt
Labels: target:core, target:minecraft, type:build

Missed a import
  integration-mc1-14/src/main/kotlin/net/electricalage/eln2/singleBlock/Flubber.kt
Labels: target:minecraft

Add UI for AsmComputer, fixes a bug or two I think
  core/src/main/kotlin/org/eln2/compute/asmComputer/AsmComputer.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/AsmComputerUi.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/Operator.kt
Labels: target:core

Add new apps module to project for eln2 core apps
  .editorconfig
  apps/build.gradle.kts
  apps/src/main/kotlin/org/eln2/apps/compute/AsmComputerUi.kt
  settings.gradle.kts
Labels: target:core, type:build

Add more console output and fix bug in UI
  apps/src/main/kotlin/org/eln2/apps/compute/AsmComputerUi.kt
Labels: none

Finished functionality and tests for FPU.
  core/src/main/kotlin/org/eln2/compute/uarchComputer/ALU.kt
  core/src/main/kotlin/org/eln2/compute/uarchComputer/FPU.kt
  core/src/main/kotlin/org/eln2/compute/uarchComputer/uarchComputer.kt
  core/src/test/kotlin/org/eln2/compute/uarchComputer/componentTests.kt
Labels: target:core

Add a Falstad importer (#42)
  .gitignore
  core/src/main/kotlin/org/eln2/debug/DebugPrint.kt
  core/src/main/kotlin/org/eln2/load/FalstadBacking.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/Falstad.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/generic/InterpretGlobals.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/generic/OutputProbe.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/generic/WireConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/passive/CapacitorConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/passive/InductorConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/passive/ResistorConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/sources/CurrentSourceConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/sources/GroundConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/sources/VoltageRailConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/sources/VoltageSourceConstructor.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/Circuit.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Component.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/CurrentSource.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Resistor.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/VoltageSource.kt
  core/src/test/kotlin/org/eln2/sim/electrical/mna/ComponentTest.kt
  images/resistor.svg
  images/vsource.svg
Labels: target:core

Eln2 Core Apps and AsmComputerUi (#44)
  .editorconfig
  apps/build.gradle.kts
  apps/src/main/kotlin/org/eln2/apps/compute/AsmComputerUi.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/AsmComputer.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/Operator.kt
  settings.gradle.kts
Labels: target:core, type:build

Add documentation for asmcomputer. Should be 100%
  apps/src/main/kotlin/org/eln2/apps/compute/AsmComputerUi.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/AsmComputer.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/CState.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/Registers.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Add.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/CodeSwitch.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/ConditionalJumps.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/CopyStringPart.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Jump.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Label.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Move.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/NoOp.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/StringLength.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Subtract.kt
Labels: target:core

Add documentation for asmcomputer. Should be 100%
  apps/src/main/kotlin/org/eln2/apps/compute/AsmComputerUi.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/AsmComputer.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/CState.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/Registers.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Add.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/CodeSwitch.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/ConditionalJumps.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/CopyStringPart.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Jump.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Label.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Move.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/NoOp.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/StringLength.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Subtract.kt
Labels: target:core

Remove FalstadBacking.kt (replaced code)
  core/src/main/kotlin/org/eln2/load/FalstadBacking.kt
Labels: target:core

Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: target:core, type:documentation

Added remaining micro operations
  core/src/main/kotlin/org/eln2/compute/uarchComputer/IuOPROM.kt
  core/src/main/kotlin/org/eln2/compute/uarchComputer/uarchComputer.kt
Labels: target:core

Add documentation for uarchComputer
  core/src/main/kotlin/org/eln2/compute/uarchComputer/ALU.kt
  core/src/main/kotlin/org/eln2/compute/uarchComputer/FPU.kt
  core/src/main/kotlin/org/eln2/compute/uarchComputer/IDataIO.kt
  core/src/main/kotlin/org/eln2/compute/uarchComputer/IuOPROM.kt
  core/src/main/kotlin/org/eln2/compute/uarchComputer/uarchComputer.kt
  core/src/test/kotlin/org/eln2/compute/uarchComputer/ComponentTests.kt
  core/src/test/kotlin/org/eln2/compute/uarchComputer/componentTests.kt
Labels: target:core
