Repository age-series/ElectricalAge2, changes with the labels that .github/labeler.yml gives for each.
All labels: target:core, target:shared, target:minecraft, target:vintagestory, type:documentation, type:code, type:build

Added single thread log server basic functions (#31)
  .gitignore
  logcollector/Cargo.lock
  logcollector/Cargo.toml
  logcollector/src/main.rs
Labels: target:core

Configure integration test runner
  .github/workflows/ci.yml
  integration-mc1-14/build.gradle
  package.json
  run-integration-tests.js
Labels: target:core, target:minecraft, type:build

Add an empty unit-test wrapper
  integration-mc1-14/src/test/kotlin/net/electricalage/eln2/Eln2Test.kt
Labels: target:minecraft

mooof
  .github/workflows/ci.yml
  integration-mc1-14/build.gradle
  integrationTest/.gitignore
  integrationTest/package.json
  integrationTest/src/index.ts
  integrationTest/tsconfig.json
  package.json
Labels: target:core, target:minecraft, type:build

Adding C# project for Vintage Story
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  eln2.vsproj
  integration-vs/Makefile
  integration-vs/resources/assets/eln2/blocktypes/exampleblock.json
  integration-vs/resources/assets/eln2/lang/en.json
  integration-vs/resources/modinfo.json
  integration-vs/setup.sh
  integration-vs/src/Eln2.cs
Labels: target:core, target:vintagestory

Fix Bug
  .vscode/launch.json
Labels: none

Fix Bug 2.0
  .vscode/launch.json
Labels: none

Change flag handling in DebugPrint.kt
  core/src/main/kotlin/org/eln2/debug/DebugPrint.kt
Labels: target:core

Contained C# project into the integration-vs dir
  .vscode/launch.json
  .vscode/tasks.json
  eln2.vsproj
Labels: target:core

Revert "Adding C# project for Vintage Story"
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  eln2.vsproj
  integration-vs/Makefile
  integration-vs/resources/assets/eln2/blocktypes/exampleblock.json
  integration-vs/resources/assets/eln2/lang/en.json
  integration-vs/resources/modinfo.json
  integration-vs/setup.sh
  integration-vs/src/Eln2.cs
Labels: target:core, target:vintagestory

Added tracking for C# and vscode files
  .gitignore
  integration-vs/.vscode/launch.json
  integration-vs/.vscode/tasks.json
  integration-vs/eln2.csproj
Labels: target:core, target:vintagestory

Change flag handling in DebugPrint.kt
  core/src/main/kotlin/org/eln2/debug/DebugPrint.kt
Labels: target:core

Comment math libraries
  core/src/main/kotlin/org/eln2/math/FunctionTable.kt
  core/src/main/kotlin/org/eln2/math/IFunction.kt
Labels: target:core

Fix Vintage Story development env
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  eln2.csproj
Labels: target:core

Update setup.sh to inject variables into ~/.xprofile
  integration-vs/setup.sh
Labels: target:vintagestory

Compress project config, delete useless file
  .vscode/settings.json
  eln2.csproj
Labels: target:core

Fix launch file, add server launch, fix texture
  .vscode/launch.json
  integration-vs/resources/assets/eln2/blocktypes/exampleblock.json
Labels: target:vintagestory

Add documentation
  integration-vs/readme.md
Labels: target:vintagestory

Add comment about setup.sh
  integration-vs/readme.md
Labels: target:vintagestory

Working network sockets!
  integration-vs/src/Eln2.cs
Labels: target:vintagestory

Add AsmComputer with 5 basic opcodes
  core/src/main/kotlin/org/eln2/compute/asmComputer/AsmComputer.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Add.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/NoOp.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Subtract.kt
  core/src/test/kotlin/org/eln2/compute/asmComputer/AsmComputerTest.kt
Labels: target:core

Update Readme and add Contributors List
  CONTRIBUTORS
  README.md
Labels: target:core, type:documentation

Add UMC to Contributors, thanks!
  CONTRIBUTORS
Labels: target:core

Add move and swch operators, refactoring
  core/src/main/kotlin/org/eln2/compute/asmComputer/AsmComputer.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Add.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/CodeSwitch.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Move.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Subtract.kt
  core/src/test/kotlin/org/eln2/compute/asmComputer/AsmComputerTest.kt
Labels: target:core

Add a bunch more instructions, fix some bugs
  core/src/main/kotlin/org/eln2/compute/asmComputer/AsmComputer.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/documentation.md
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/CopyStringPart.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Jump.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Label.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Move.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/StringLength.kt
  core/src/test/kotlin/org/eln2/compute/asmComputer/AsmComputerTest.kt
Labels: target:core

Moving to org.eln2.mc114 and broken Flubber
  integration-mc1-14/src/main/kotlin/org/eln2/mc114/Eln2.kt
  integration-mc1-14/src/main/kotlin/org/eln2/mc114/Eln2Block.kt
  integration-mc1-14/src/main/kotlin/org/eln2/mc114/Eln2Items.kt
  integration-mc1-14/src/main/kotlin/org/eln2/mc114/singleBlock/Flubber.kt
Labels: target:minecraft

Add working flubber to Vintage Story
  integration-vs/resources/assets/eln2/blocktypes/flubber.json
  integration-vs/resources/assets/eln2/lang/en.json
  integration-vs/resources/assets/eln2/textures/block/flubber.png
  integration-vs/src/Eln2.cs
  integration-vs/src/Flubber.cs
Labels: target:vintagestory

Flubber is more fun and less bugs
  integration-vs/resources/assets/eln2/blocktypes/flubber.json
  integration-vs/src/Flubber.cs
Labels: target:vintagestory

Codacy wants that private readonly..
  integration-vs/src/Flubber.cs
Labels: target:vintagestory

Borken Progress
  integration-mc1-14/src/main/kotlin/org/eln2/mc114/Eln2.kt
  integration-mc1-14/src/main/kotlin/org/eln2/mc114/Eln2CreativeTabs.kt
  integration-mc1-14/src/main/kotlin/org/eln2/mc114/singleBlock/Flubber.kt
  integration-mc1-14/src/main/resources/assets/eln2/lang/en_us.lang
Labels: target:minecraft

Progress on conditional jumps. Not working yet
  core/src/main/kotlin/org/eln2/compute/asmComputer/AsmComputer.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/ConditionalJumps.kt
  core/src/test/kotlin/org/eln2/compute/asmComputer/AsmComputerTest.kt
Labels: target:core

Add a Falstad importer
  core/src/main/kotlin/org/eln2/debug/DebugPrint.kt
  core/src/main/kotlin/org/eln2/load/Falstad.kt
  core/src/main/kotlin/org/eln2/load/FalstadBacking.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/Circuit.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Component.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/CurrentSource.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Resistor.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/VoltageSource.kt
  core/src/test/kotlin/org/eln2/sim/electrical/mna/ComponentTest.kt
  images/resistor.svg
  images/vsource.svg
Labels: target:core

Also initialize timestep from file globals
  core/src/main/kotlin/org/eln2/load/Falstad.kt
Labels: target:core

Conditional Jump code finished. Some tests.
  core/src/main/kotlin/org/eln2/compute/asmComputer/AsmComputer.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/ConditionalJumps.kt
  core/src/test/kotlin/org/eln2/compute/asmComputer/AsmComputerTest.kt
Labels: target:core

Broke out and refactored code around AsmComp
  core/src/main/kotlin/org/eln2/compute/asmComputer/AsmComputer.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/CState.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/Operator.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/Registers.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Add.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/ConditionalJumps.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/CopyStringPart.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Jump.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Move.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/StringLength.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Subtract.kt
Labels: target:core

Hotfix for builds failing with kff 1.2+
  integration-mc1-14/build.gradle
Labels: target:minecraft

Would help if I specified the minor version too.
  integration-mc1-14/build.gradle
Labels: target:minecraft

Moved falstad stuff, commented
  .gitignore
  core/src/main/kotlin/org/eln2/parsers/falstad/Falstad.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/generic/InterpretGlobals.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/generic/OutputProbe.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/generic/WireConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/passive/CapacitorConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/passive/InductorConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/passive/ResistorConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/sources/CurrentSourceConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/sources/GroundConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/sources/VoltageRailConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/sources/VoltageSourceConstructor.kt
Labels: target:core

Introduced the uarchComputer
  core/src/main/kotlin/org/eln2/compute/uarchComputer/ALU.kt
  core/src/main/kotlin/org/eln2/compute/uarchComputer/IDataIO.kt
  core/src/main/kotlin/org/eln2/compute/uarchComputer/IuOPROM.kt
  core/src/main/kotlin/org/eln2/compute/uarchComputer/uarchComputer.kt
  core/src/test/kotlin/org/eln2/compute/uarchComputer/componentTests.kt
Labels: target:core

Made proper test for ALU and fixed XNOR
  core/src/main/kotlin/org/eln2/compute/uarchComputer/ALU.kt
  core/src/test/kotlin/org/eln2/compute/uarchComputer/componentTests.kt
Labels: target:core

.github/labeler.yml:

target:core:
    - core/**/*
    - ./*

target:shared:
    - shared/**/*

target:minecraft:
    - integration-mc*/**/*

target:vintagestory:
    - integration-vs/**/*

type:documentation:
    - '*.md'

type:code:
    - '*.kt'
    - '*.java'

type:build:
    - '*.kts'
    - '*gradle*'
    - .github/**/*
