Repository age-series/ElectricalAge2, pull requests merged in 2020-07, with the labels that each got.

#79 Adds texture generation code
  texgen/TextureGeneration.py
  texgen/ore_hex_color.csv
  texgen/template/basic_ore.png
  texgen/template/basic_ore.xcf
Labels: target:minecraft, target:vintagestory, type:enhancement

#99 Finishing Current Sources, Capacitors and Inductors
  core/src/main/kotlin/org/eln2/parsers/falstad/components/passive/CapacitorConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/passive/InductorConstructor.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Capacitor.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Inductor.kt
  core/src/test/kotlin/org/eln2/sim/electrical/mna/CircuitTest.kt
  core/src/test/kotlin/org/eln2/sim/electrical/mna/MNATests.kt
  core/testdata/discharging_data.ods
Labels: target:core, type:enhancement

#102 Adds information on how to do things
  USAGE.md
Labels: type:documentation

#103 Delete ktlint
  .github/workflows/ktlint.yml
Labels: target:buildsystem, type:bug, type:build
