Repository age-series/ElectricalAge2, pull requests merged in 2020-05, with the labels that each got.

#50 Feature/feature/bookshelf test
  build.gradle.kts
  gradle.properties
  integration-mc1-15/.gitignore
  integration-mc1-15/addblock.py
  integration-mc1-15/build.gradle
  integration-mc1-15/forge/CREDITS.txt
  integration-mc1-15/forge/LICENSE.txt
  integration-mc1-15/forge/README.txt
  integration-mc1-15/forge/changelog.txt
  integration-mc1-15/src/main/java/org/eln2/Eln2Wrapper.java
  integration-mc1-15/src/main/kotlin/org/eln2/Eln2.kt
  integration-mc1-15/src/main/kotlin/org/eln2/ModBlocks.kt
  integration-mc1-15/src/main/kotlin/org/eln2/blocks/FlubberBlock.kt
  integration-mc1-15/src/main/resources/META-INF/mods.toml
  integration-mc1-15/src/main/resources/assets/eln2/blockstates/flubber.json
  integration-mc1-15/src/main/resources/assets/eln2/models/block/flubber.json
  integration-mc1-15/src/main/resources/assets/eln2/models/item/flubber.json
  integration-mc1-15/src/main/resources/assets/eln2/textures/block/flubber.png
  integration-mc1-15/src/main/resources/data/eln2/loot_tables/blocks/flubber.json
  integration-mc1-15/src/main/resources/data/eln2/recipes/flubber.json
  integration-mc1-15/src/main/resources/pack.mcmeta
  settings.gradle.kts
Labels: target:minecraft, type:build, type:enhancement

#56 Draft client-server protocol for game to core communication
  .github/labeler.yml
  build.gradle.kts
  proto/build.gradle.kts
  proto/src/logcollector.proto
  proto/src/simulator/command.proto
  proto/src/simulator/component.proto
  proto/src/simulator/simulator.proto
  proto/src/types.proto
  settings.gradle.kts
Labels: type:build, type:protocol

#60 Adds Kotlin style guide to Contribuiting doc
  CONTRIBUTING.md
Labels: type:documentation

#61 Adds Multimeter item and client translations
  integration-mc1-15/src/main/kotlin/org/eln2/Eln2.kt
  integration-mc1-15/src/main/kotlin/org/eln2/ModItems.kt
  integration-mc1-15/src/main/kotlin/org/eln2/blocks/FlubberBlock.kt
  integration-mc1-15/src/main/kotlin/org/eln2/items/MultimeterItem.kt
  integration-mc1-15/src/main/resources/assets/eln2/lang/en_us.json
  integration-mc1-15/src/main/resources/assets/eln2/models/item/multimeter.json
  integration-mc1-15/src/main/resources/assets/eln2/textures/item/multimeter.png
Labels: target:minecraft

#63 Adds link to IDEA in Contributing
  CONTRIBUTING.md
Labels: type:documentation

#68 Added a test and some clarification for IProcess
  core/src/main/kotlin/org/eln2/sim/IProcess.kt
  core/src/test/kotlin/org/eln2/sim/electrical/mna/IProcessTest.kt
Labels: target:core

#73 Adds ktlinter via reviewdog
  .github/workflows/ktlint.yml
Labels: target:buildsystem, type:build

#58 Add MultiMaps
  core/src/main/kotlin/org/eln2/data/MultiMap.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/Falstad.kt
  core/src/main/kotlin/org/eln2/space/Graph.kt
  core/src/test/kotlin/org/eln2/data/SetMapMultiMapTest.kt
Labels: target:core, type:enhancement

#75 Adds Vintage Story ore data processing
  integration-vs/vintageStoryInfoGathering.py
Labels: target:core, target:vintagestory

#72 Add some failing tests to fix
  core/src/main/kotlin/org/eln2/parsers/falstad/components/passive/CapacitorConstructor.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/Circuit.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/Node.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/VSource.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Capacitor.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Component.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Diode.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/VoltageSource.kt
  core/src/main/kotlin/org/eln2/space/Set.kt
  core/src/test/kotlin/org/eln2/sim/electrical/mna/CircuitTest.kt
Labels: target:core
