Repository age-series/ElectricalAge2, pull requests merged in 2020-04, with the labels that each got.

#10 Change Vec class name convention
  core/src/main/kotlin/org/eln2/load/FalstadBacking.kt
  core/src/main/kotlin/org/eln2/space/Graph.kt
  core/src/main/kotlin/org/eln2/space/Location.kt
  core/src/test/kotlin/org/eln2/space/VecTests.kt
Labels: target:core, type:enhancement

#17 Change the testing infrastructure
  core/src/main/kotlin/org/eln2/sim/electrical/mna/Circuit.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/Node.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Diode.kt
  core/src/test/kotlin/org/eln2/sim/electrical/mna/CircuitTest.kt
Labels: target:core, type:enhancement

#8 Further test fixes
  .github/workflows/ci.yml
  core/src/test/kotlin/org/eln2/sim/electrical/mna/CircuitTest.kt
Labels: target:core, type:bug, type:enhancement

#21 Add labeller, CI badge, etc.
  .editorconfig
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/label.yml
  README.md
  build.gradle.kts
  core/build.gradle.kts
  core/src/main/kotlin/org/eln2/debug/DebugPrint.kt
  core/src/main/kotlin/org/eln2/load/FalstadBacking.kt
  core/src/main/kotlin/org/eln2/math/FunctionTable.kt
  core/src/main/kotlin/org/eln2/math/IFunction.kt
  core/src/main/kotlin/org/eln2/serialization/generic/IHaveState.kt
  core/src/main/kotlin/org/eln2/serialization/generic/ISerialize.kt
  core/src/main/kotlin/org/eln2/serialization/generic/ISerializeLazily.kt
  core/src/main/kotlin/org/eln2/serialization/generic/JsonSerializer.kt
  core/src/main/kotlin/org/eln2/sim/IProcess.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/Circuit.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/IDetail.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/Node.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/VSource.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Capacitor.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Component.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/CurrentSource.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Diode.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Inductor.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Resistor.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/VoltageSource.kt
  core/src/main/kotlin/org/eln2/space/Graph.kt
  core/src/main/kotlin/org/eln2/space/Location.kt
  core/src/main/kotlin/org/eln2/space/Set.kt
  core/src/test/kotlin/org/eln2/sim/electrical/mna/CircuitTest.kt
  core/src/test/kotlin/org/eln2/space/VecTests.kt
Labels: target:core, type:build, type:documentation

#20 Add a nice test summary to console output. Fixes #18.
  build.gradle.kts
  core/src/test/kotlin/org/eln2/sim/electrical/mna/CircuitTest.kt
Labels: target:core, type:build, type:documentation, type:enhancement

#22 Add Codacy Coverage
  .github/workflows/ci.yml
Labels: target:core, type:build, type:enhancement

#24 Add Codacy Dashboard to readme.md
  README.md
Labels: type:documentation

#26 Link a very simple Forge 1.14 mod
  build.gradle.kts
  integration-mc1-14/build.gradle
  integration-mc1-14/forge/CREDITS.txt
  integration-mc1-14/forge/LICENSE.txt
  integration-mc1-14/forge/README.txt
  integration-mc1-14/forge/changelog.txt
  integration-mc1-14/src/main/java/net/electricalage/eln2/Eln2.java
  integration-mc1-14/src/main/resources/META-INF/mods.toml
  integration-mc1-14/src/main/resources/pack.mcmeta
  settings.gradle.kts
Labels: target:minecraft, type:build

#25 Feature/code coverage
  .github/workflows/ci.yml
  build.gradle.kts
Labels: type:build

#28 Converts the 1.12 mod to Kotlin, mainly.
  build.gradle.kts
  integration-mc1-14/build.gradle
  integration-mc1-14/src/main/java/net/electricalage/eln2/Eln2.java
  integration-mc1-14/src/main/kotlin/net/electricalage/eln2/Eln2.kt
  integration-mc1-14/src/main/resources/META-INF/mods.toml
  integration-mc1-14/src/main/resources/pack.mcmeta
Labels: target:minecraft, type:build

#27 Refactoring some of the codebase to improve Codacy score
  core/src/main/kotlin/org/eln2/load/FalstadBacking.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/Circuit.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Capacitor.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Component.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Diode.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Inductor.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Resistor.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/VoltageSource.kt
  core/src/main/kotlin/org/eln2/space/Graph.kt
  core/src/test/kotlin/org/eln2/sim/electrical/mna/CircuitTest.kt
Labels: target:core, type:enhancement

#30 Add new log collection Rust project
  .gitignore
  logcollector/Cargo.lock
  logcollector/Cargo.toml
  logcollector/src/main.rs
Labels: target:logcollector, type:enhancement

#9 Adds Gnuplot data file parser
  core/src/main/kotlin/org/eln2/parsers/Gnuplot.kt
  core/src/test/kotlin/org/eln2/parsers/PlotTest.kt
Labels: target:core, type:enhancement

#34 Debugprint
  core/src/main/kotlin/org/eln2/debug/DebugPrint.kt
Labels: target:core

#35 Comment math libraries
  core/src/main/kotlin/org/eln2/math/FunctionTable.kt
  core/src/main/kotlin/org/eln2/math/IFunction.kt
Labels: target:core, type:documentation

#33 Adding C# project for Vintage Story
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  eln2.csproj
  integration-vs/Makefile
  integration-vs/readme.md
  integration-vs/resources/assets/eln2/blocktypes/exampleblock.json
  integration-vs/resources/assets/eln2/lang/en.json
  integration-vs/resources/modinfo.json
  integration-vs/setup.sh
  integration-vs/src/Eln2.cs
Labels: target:vintagestory, type:enhancement

#36 Add AsmComputer with 5 basic opcodes
  core/src/main/kotlin/org/eln2/compute/asmComputer/AsmComputer.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Add.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/NoOp.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Subtract.kt
  core/src/test/kotlin/org/eln2/compute/asmComputer/AsmComputerTest.kt
Labels: target:core, type:documentation, type:enhancement

#37 Add move and swch operators, refactoring
  core/src/main/kotlin/org/eln2/compute/asmComputer/AsmComputer.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/documentation.md
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Add.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/CodeSwitch.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/CopyStringPart.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Jump.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Label.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Move.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/StringLength.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Subtract.kt
  core/src/test/kotlin/org/eln2/compute/asmComputer/AsmComputerTest.kt
Labels: target:core, type:documentation, type:enhancement

#39 Add working flubber to Vintage Story
  integration-vs/resources/assets/eln2/blocktypes/flubber.json
  integration-vs/resources/assets/eln2/lang/en.json
  integration-vs/resources/assets/eln2/textures/block/flubber.png
  integration-vs/src/Eln2.cs
  integration-vs/src/Flubber.cs
Labels: target:vintagestory, type:enhancement

#41 Conditional Jumps in AsmComputer
  core/src/main/kotlin/org/eln2/compute/asmComputer/AsmComputer.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/CState.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/Operator.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/Registers.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Add.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/ConditionalJumps.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/CopyStringPart.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Jump.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Move.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/StringLength.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Subtract.kt
  core/src/test/kotlin/org/eln2/compute/asmComputer/AsmComputerTest.kt
Labels: target:core, type:enhancement

#42 Add a Falstad importer
  .gitignore
  core/src/main/kotlin/org/eln2/debug/DebugPrint.kt
  core/src/main/kotlin/org/eln2/load/FalstadBacking.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/Falstad.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/generic/InterpretGlobals.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/generic/OutputProbe.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/generic/WireConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/passive/CapacitorConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/passive/InductorConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/passive/ResistorConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/sources/CurrentSourceConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/sources/GroundConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/sources/VoltageRailConstructor.kt
  core/src/main/kotlin/org/eln2/parsers/falstad/components/sources/VoltageSourceConstructor.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/Circuit.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Component.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/CurrentSource.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/Resistor.kt
  core/src/main/kotlin/org/eln2/sim/electrical/mna/component/VoltageSource.kt
  core/src/test/kotlin/org/eln2/sim/electrical/mna/ComponentTest.kt
  images/resistor.svg
  images/vsource.svg
Labels: target:core, type:enhancement

#44 Eln2 Core Apps and AsmComputerUi
  .editorconfig
  apps/build.gradle.kts
  apps/src/main/kotlin/org/eln2/apps/compute/AsmComputerUi.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/AsmComputer.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/Operator.kt
  settings.gradle.kts
Labels: target:apps, target:core, type:build, type:enhancement

#45 Add documentation for asmcomputer. Should be 100%
  apps/src/main/kotlin/org/eln2/apps/compute/AsmComputerUi.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/AsmComputer.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/CState.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/Registers.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Add.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/CodeSwitch.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/ConditionalJumps.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/CopyStringPart.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Jump.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Label.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Move.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/NoOp.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/StringLength.kt
  core/src/main/kotlin/org/eln2/compute/asmComputer/operators/Subtract.kt
Labels: target:core, type:documentation

#46 Adding another CPU to ELN2
  core/src/main/kotlin/org/eln2/compute/uarchComputer/ALU.kt
  core/src/main/kotlin/org/eln2/compute/uarchComputer/FPU.kt
  core/src/main/kotlin/org/eln2/compute/uarchComputer/IDataIO.kt
  core/src/main/kotlin/org/eln2/compute/uarchComputer/IuOPROM.kt
  core/src/main/kotlin/org/eln2/compute/uarchComputer/uarchComputer.kt
  core/src/test/kotlin/org/eln2/compute/uarchComputer/componentTests.kt
Labels: target:core

#49 Feature/falstad doc
  core/src/main/kotlin/org/eln2/parsers/falstad/Falstad.kt
Labels: target:core
