Repository age-series/ElectricalAge2, pull requests merged in 2021-02, with the labels that each got.

#101 Thermal System
  core/src/main/kotlin/org/eln2/sim/Material.kt
  core/src/main/kotlin/org/eln2/sim/thermal/ThermalEdge.kt
  core/src/main/kotlin/org/eln2/sim/thermal/ThermalNode.kt
  core/src/main/kotlin/org/eln2/sim/thermal/ThermalSimulator.kt
  core/src/test/kotlin/org/eln2/sim/thermal/ThermalTest.kt
Labels: target:core, type:enhancement

#108 CI Fix?
  .github/workflows/ci.yml
Labels: target:buildsystem, type:bug, type:build

#110 OreGen and item drop update (should be working)
  integration-mc1-16/src/main/java/org/eln2/Eln2Wrapper.java
  integration-mc1-16/src/main/kotlin/org/eln2/utils/OreGen.kt
  integration-mc1-16/src/main/resources/data/eln2/loot_tables/blocks/ore_native_copper.json
Labels: target:minecraft

#109 Updates various documentation
  CONTRIBUTING.md
  README.md
  USAGE.md
Labels: type:documentation

#112 Fix CI not running on all branches
  .github/workflows/ci.yml
Labels: type:build
